@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/assets/font/Montserrat-Regular.ttf")
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  color: rgb(var(--foreground-rgb));
  background-color: #F9F5F2;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
  color: #2F3D4E;
  font-weight: bold;
}
h1 {
  font-size: 40px;
  padding-bottom: 18px;
}
h2 { 
  font-size: 30px;
  padding-top: 18px;
  padding-bottom: 5px;
}
h3 {
  padding-bottom: 10px
}
@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4, h5, h6, h7, h8 {
    color: #F9F5F2;
  }
  html {
  color: rgb(var(--foreground-rgb));
  background-color: #2F3D4E;
}
}
a:hover {
  text-decoration: none;
  color: inherit;
}
aside hr {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
input, textarea {
  color: #000000;
  padding: 6px;
}